#data-weather {
    background-color: #e4f3fa ;
}

.fa-compass {
    color: white;
    margin: 0;
    padding-right: 6px;
}

.custom-boxPercentages {
    width: 265px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.percentages {
    font-size: 8px;
    margin-bottom: 5px;
}

.bar {
    width: 265px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 20px 25px 45px rgba(0, 0, 0, 0.5);
}

.percentage {
    width: var(--w);
    height: 100%;
    background-color: rgb(214, 214, 68);
    border-radius: 10px;
    animation: Increase 5s ease;
}

@keyframes Increase {
    0% {width: 0%;}
    100% {width: var(--w);}
}