.navbar{
background-color: #b5d8ff;
padding: 10px;
margin: 10px;
margin-left: 33px;
margin-right: 40x;
text-shadow: 10px
;

}
body{
    background:#b5d8ff ;
    margin: 0px;
    padding:0%;
}

.card{
    background-color:#5c9ce5;
    color: white;
    margin-bottom: 20px;
  
}

.icon{
    position: relative;
    top: -50px;
    border-radius: 50%;
    width: auto;
    margin-bottom: -50px;
  }

  .chart{
    background-color:#e4f1ff;
    border-radius: 60%;
  }

  .h1{
    background-color: #b5d8ff;
  }

